<?xml version="1.0" encoding="utf-8" ?>
<!--
  autoReload：修改配置文件之后，重新加载配置

-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--自定义的一些变量，下面配置中可以使用-->
  <variable name="logDirectory" value="${basedir}/logs"/>
  <!--
  targets 日志输出目标配置，可以同时输出到多个目标。
  -->
  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="10000" >
      <wrapper-target xsi:type="AsyncWrapper"/>
    </default-wrapper>
    <!--
    xsi:type：输出目标类型
    name：目标名称
    fileName：输出到的目标名称
    layout：输出时的布局
    -->
    <!--
    Wrappers
      target包含在target内部。比如xsi:type="AsyncWrapper" 这样可以设置异步记录日志
    -->
    <!--记录到文件-->
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile"
              xsi:type="File"
              fileName="${logDirectory}/${shortdate}.txt"
              lineEnding="Default"
              archiveAboveSize="102400"
              />
    </target>
  </targets>
  <!--
  rules日志数出规则配置
  -->
  <rules>
    <!--
    name：
    minlevel：日志只记录当前级别及之上的日志
    maxlevel：日志只记录当前级别及之下的日志
    weitrTo：志记录到的目标，对应target的name
    -->
    <logger name="*" minlevel="Trace" writeTo="asyncFile"/>
    <!--<logger name="*" minlevel="Info" maxlevel="Info" writeTo="database"  />-->
    <!--<logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Trace"  writeTo="InfoMail"/>-->
  </rules>
</nlog>
